* {
    box-sizing: border-box;
    margin: 0;
}


.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-chat-container {
    background-color: #f0f1f4;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}

.chat-box {
    height: 100%;
    margin: 40px auto;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.messages-container {
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}

.input-container {
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.input-container textarea {
    flex: 1;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.input-container button {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    background-image: linear-gradient(to right bottom, #c500ff, #a936ff, #8b4aff, #6b57ff, #4760fd);
    width: 50px;
    height: 50px;
    color: #fff;
}

.messagesList {
    padding: 0;
    list-style: none;
}

.messagesList li {
    font-size: 16px;
    clear: both;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    align-items: flex-start;
}

.messagesList li.mine {
    align-items: flex-end;
}

.messagesList li.mine .bubble {
    background-image: linear-gradient(to right, #04bdff, #00adff, #009bff, #0088ff, #3d72f8);
}

.messagesList li .bubble {
    color: #fff;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #c500ff, #a936ff, #8b4aff, #6b57ff, #4760fd);
    border-radius: 15px;
    clear: both;
}

.username, .time {
    font-size: 12px;
    color: #777;
    line-height: 26px;
    margin: 0 10px;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}

.modal-overlay .modal {
    width: 400px;
    padding: 40px 40px 20px 40px;
    background-color: #fff;
    border-radius: 15px;
}

.modal-overlay .modal form {
    display: flex;
    flex-direction: column;
}

.modal-overlay .modal form input {
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
}

.modal-overlay .modal form input:focus {
    outline: none !important;
    border-bottom-color: #a936ff;
}

.modal-overlay .modal form button {
    border: none;
    font-size: 16px;
    padding: 10px;
    background-image: linear-gradient(to right, #c500ff, #a936ff, #8b4aff, #6b57ff, #4760fd);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.modal-overlay .modal form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #8b4aff;
    font-size: 18px;
    text-decoration: none;
}

.modal-overlay .modal form a:hover {
    text-decoration: underline;
}

.fileInput {
    display: none;
}

.uploadFileBtn {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem !important;
    background-image: linear-gradient(to right bottom, #c500ff, #a936ff, #8b4aff, #6b57ff, #4760fd);
    width: 50px;
    height: 50px;
    color: #fff;
    margin-right: 20px;
}